@import "tailwindcss";

[data-theme='theme-1'] {
    --primary-color: #932f67;
    --secondary-color: #d92c54;
    --third-color: #dddeab;
}

[data-theme='theme-2'] {
    --primary-color: #799eff;
    --secondary-color: #feffc4;
    --third-color: #ffde63;
}


[data-theme='theme-3'] {
    --primary-color: #fe7743;
    --secondary-color: #273f4f;
    --third-color: #447d9b;
}